title = "Administration - Site - Insert"
url = "/administration/site/insert"
layout = "default"
description = "Page for insert site"
hidden = "0"

[mTextbox siteName]
id = "siteName"
name = "siteName"
label = "Name :"
model = "site.siteName"
base = "siteForm"
req = "true"
req_msg = "Name Required"
max = "50"
max_msg = "too long"
min = "5"
min_msg = "to short"
exp = "[A-Za-z 0-9()&]"
exp_msg = "No Ilegal Characters please"

[mTextbox siteOwner]
id = "siteOwner"
name = "siteOwner"
label = "Owner :"
model = "site.siteOwner"
base = "siteForm"
capitalize = "true"
req = "true"
req_msg = "Owner Required"
max = "50"
max_msg = "too long"
min = "10"
min_msg = "too short"
exp = "[a-z A-z.]"
exp_msg = "Alphabet Only"

[mRadiobutton siteProjectType]
mId = "siteProjectType"
mName = "siteProjectType"
mLabel = "Project Type :"
model = "site.siteProjectType"
base = "siteForm"
mObject = "siteProjectType"
mKey = "1;2"
mValue = "Multi Operator;Reseller"

[mDropdown siteLocation]
mId = "siteLocation"
mName = "siteLocation"
mLabel = "Location :"
model = "site.siteLocation"
base = "siteForm"
req = "true"
req_msg = "select location pls"

[mTextarea siteAddress]
id = "siteAddress"
name = "siteAddress"
label = "Address :"
model = "site.siteAddress"
base = "siteForm"
rws = "2"
req = "true"
req_msg = "Address Needed"
exp = "[a-zA-Z(-) @/.,#&]"
exp_msg = "no ilegal characters"
max = "100"
max_msg = "Address To long"
min = "10"
min_msg = "10 Characters minimum"

[mTextbox sitePhone]
id = "sitePhone"
name = "sitePhone"
label = "Phone :"
model = "site.sitePhone"
base = "siteForm"
req = "true"
req_msg = "Phone required"
max = "14"
max_msg = "beetwen 12-14 digits"
min = "12"
min_msg = "beetwen 12-14 digits"
exp = "[0-9()]"
exp_msg = "Invalid phone format"

[mTextbox siteFax]
id = "siteFax"
name = "siteFax"
label = "Fax :"
model = "site.siteFax"
base = "siteForm"
req = "true"
req_msg = "Fax required"
max = "14"
max_msg = "12-14"
min = "12"
min_msg = "12-14"
exp = "[0-9 ()-]"
exp_msg = "Invalid fax format"

[mImage sitePhoto]
id = "sitePhoto"
namePhoto = "sitePhoto"
nameAvatar = "siteAvatar"
model = "site.sitePhoto"
src = "sitePhoto"
req = "true"
req_msg = "Butuh foto neh"

[mContact siteContact]
id = "mTextbox"
name = "mTextbox"
label = "mTextbox"
mModel = "site.contacts"
base = "siteForm"
mModelContact = "name"
mReqContact = "true"
mReqContact_msg = "needed"
mMaxContact = "50"
mMaxContact_msg = "50 max"
mMinContact = "5"
mMinContact_msg = "5 min"
mExpContact = "/^[a-z A-Z,.]*/"
mExpContact_msg = "Format nama salah"
mTrimContact = "true"
mModelPhone = "phone"
mReqPhone = "true"
mReqPhone_msg = "need"
mMaxPhone = "16"
mMaxPhone_msg = "16 max"
mMinPhone = "10"
mMinPhone_msg = "10 min"
mExpPhone = "/^[0-9 ()-]*$/"
mExpPhone_msg = "phone format invalid"
mModelEmail = "email"
mReqEmail = "true"
mReqEmail_msg = "butuh"
mMaxEmail = "50"
mMaxEmail_msg = "50 max"
mMinEmail = "10"
mMinEmail_msg = "10 min"
mExpEmail = "/^[a-zA-Z.@]*$/"
mExpEmail_msg = "format salah"
mTrimEmail = "true"
==
<?php
use Massada\Application\Models\Sites;
use Massada\Application\Models\SiteContacts;
use Massada\Application\Models\SiteContactPhones;
use Massada\Application\Models\SiteContactEmails;
use Massada\Application\Classes\Operation;

function onGetSites() {
    $temp = Sites::get();
    $temp = json_encode($temp);

    return $temp;
}

function onInsertSite() {
    
  
    $site = new Sites;
    $site->name         = post('siteName')          ; /*"stName"          ; // */ 
    $site->owner        = post('siteOwner')         ; /*"stOwner"         ; // */ 
    $site->address      = post('siteAddress')       ; /*"stAddress"       ; // */ 
    $site->project_type = post('siteProjectType')   ; /*"Multioperator"   ; // */ 
    $site->phone        = post('sitePhone')         ; /*"022589948565"    ; // */ 
    $site->fax          = post('siteFax')           ; /*"087958745856"    ; // */ 
    $site->locations_id = post('siteLocation')      ; /*"1"               ; // */ 
   
    if (!empty(post('siteAvatar'))) {
        $rand = Operation::generateRandomString(10);
        $site->photo        = $rand                     ; /*$rand             ; // */ 
        $photo              = post('sitePhoto')         ; /*"asal aja"        ; // */ 
        $avtr               = post('siteAvatar')        ; /*"asal aja"        ; // */ 
        
        list($type, $avtr) = explode(';', $avtr);
        list(, $avtr)      = explode(',', $avtr);
        $avtr = base64_decode($avtr);
        file_put_contents("uploads/public/images/site/avatar/$rand.png", $avtr);
        
        
        // INSERT PHOTO
        list($type, $photo) = explode(';', $photo);
        list(, $photo)      = explode(',', $photo);
        $photo = base64_decode($photo);
        file_put_contents("uploads/public/images/site/original/$rand.png", $photo);
    }

    $site->save();

    $contact = json_decode(post('siteContacts'));

    foreach($contact as $key=>$value) {
        $people = new SiteContacts;
        $people->name = $value->name;
        $people->sites_id = $site->id;
        $people->save();
        foreach($value->phones as $kphone=>$vphone) {
            $phone = new SiteContactPhones;
            $phone->phone = $vphone->phone;
            $phone->site_contacts_id = $people->id;
            $phone->save();
        }
        foreach($value->emails as $kemail=>$vemail) {
            $email = new SiteContactEmails;
            $email->email = $vemail->email;
            $email->site_contacts_id = $people->id;
            $email->save();
        }

    }
    
        
}
?>
==
<style>

    .alert-fixed {
        position: fixed;
        width: 100%;
        z-index: 10;
    }
</style>

<!--S
<div id = "alert_placeholder"></div>
<div class="alert alert-info flash fade-in alert-fixed">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Info!</strong>Watch this, but you may forget.  
</div> 
-->

<div>
    <div class="row">
        {% partial 'administration/sidebar' %}
        <div class="col-sm-9 col-md-10">
            <h1 class="page-header">Sites</h1>
    
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
            </div>
    
            <h2 class="sub-header">Insert New Site</h2>

            <form name="siteForm" method="POST" enctype="multipart/from-data" novalidate>
                <hr/>
                <div class="form-inline">
                    <div class="form-group">
                        <a type="button" class="btn btn-default" href="{{ 'administration-sites'|page }}" >
                            <span class="fa fa-undo"></span>
                            Back
                        </a>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" ng-click="clear()">
                            <span class="fa fa-eraser"></span>
                            Clear
                        </button>
                    </div>
                    
                    <!-- Submit -->
                    <div class="form-group">
                        <button type="submit" name="submit" ng-disabled="siteForm.$invalid" ng-click="save()" class="btn btn-primary"> 
                            <span class="fa fa-save"></span>
                            Save
                        </button>
                    </div>
                </div>
                <hr/>
                <div class="container-fluid">
                    <div class="col-md-4 col-sm-5">
                        {% component 'sitePhoto' %}
                    </div>
                    <div class="col-md-8 col-sm-7">
                        <div class="form-horizontal">
                            
                            {% component 'siteName' %}
                            {% component 'siteOwner' %}
                            {% component 'siteProjectType' %}
                            {% component 'siteLocation' %}
                            {% component 'siteAddress' %}
                            {% component 'sitePhone' %}
                            {% component 'siteFax' %}
                        </div>
                    </div>
                </div>
                <hr/>
            
            
                <!-- contact -->
                {% component 'siteContact' %}
              <!-- end contacts-->
            </form>


            <hr/>
            <div class="form-inline">
                <div class="form-group">
                    <a type="button" class="btn btn-default" href="{{ 'administration-sites'|page }}" >
                        <span class="fa fa-undo"></span>
                        Back
                    </a>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" ng-click="clear()">
                        <span class="fa fa-eraser"></span>
                        Clear
                    </button>
                </div>
                
                <!-- Submit -->
                <div class="form-group">
                    <button type="submit" name="submit" ng-disabled="siteForm.$invalid" ng-click="save()" class="btn btn-primary"> 
                        <span class="fa fa-save"></span>
                        Save
                    </button>
                </div>
            </div>
            <hr/>
            {{ '{{ site.contacts }}' }}
            
            
        </div>
    </div>
</div>