title = "Administration - Operators"
url = "/administration/operators"
layout = "default"
hidden = "0"
==
<?php
use Massada\Application\Models\Operators;
use Massada\Application\Models\OperatorContacts;

function onDeleteOperator() {
    $operatorId = post('operatorId');
    $operator = Operators::find($operatorId);
    $operatorLogo=$operator->logo;
    
    $contact = OperatorContacts::where('operators_id', '=', $operator->id);
    $contact->delete();
    $operator->delete();
}

function onSelectOperator() {
    return json_encode(Operators::get());
}
?>
==
<div class="row">
        {% partial 'sidebar/administration' %}
        <div class="col-sm-9 col-md-10">
            {% partial 'header/operators' %}
            
            <h2 class="sub-header">Operator List</h2>
            <hr/>
            
            
            {% partial 'tools/list' label='Add New Operator' addLinks='administration-operator-insert'|page %}
            
            <h1 id="confirmation">Sebentar...</h1>
            <div class="table-responsive"  id="operatorTable">
            <table  class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><a href="" ng-click="sortField = 'id'      ; reverse = !reverse">#</a></th>
                        <th><a href="" ng-click="sortField = 'name'    ; reverse = !reverse">Brand Name</a></th>
                        <th><a href="" ng-click="sortField = 'company' ; reverse = !reverse">Company</a></th>
                        <th><a href="" ng-click="sortField = 'address' ; reverse = !reverse">Address</a></th>
                        <th><a href="" ng-click="sortField = 'phone'   ; reverse = !reverse">Phone</a></th>
                        <th><a href="" ng-click="sortField = 'fax'     ; reverse = !reverse">Fax</a></th>
                        <th><a href="" ng-click="sortField = 'photo'   ; reverse = !reverse">Photo</a></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="op in administration.operators | filter:search | orderBy:sortField:reverse">
                        <td>{{ '{{ op.id      }}' }}</td>
                        <td>{{ '{{ op.name    }}' }}</td>
                        <td>{{ '{{ op.company }}' }}</td>
                        <td>{{ '{{ op.address }}' }}</td>
                        <td>{{ '{{ op.phone   }}' }}</td>
                        <td>{{ '{{ op.fax     }}' }}</td>
                        <td>{{ '{{ op.logo    }}' }}</td>
                        <td><a href="http://localhost:8080/massada/administration/operator/update/{{ '{{ op.id }}'  }}">Update</a> | 
                            <a href="" ng-click="onDelete({{ 'op.id' }})">Delete</a></td>
                    </tr>
                </tbody>
            </table>
            </div>
            <hr/>
            
            {% partial 'tools/list' label='Add New Operator' addLinks='administration-operator-insert'|page %}
        
        </div>
    </div>