title = "Administration - Operators"
url = "/administration/operators"
layout = "default"
hidden = "0"
==
<div class="row">
        {% partial 'sidebar/administration' %}
        <div class="col-sm-9 col-md-10">
            {% partial 'header/operators' %}
            
            <h2 class="sub-header">Operator List</h2>
            <hr/>
            
            {% partial 'tools/list' label='Add New Operator' addLinks='administration-operator-insert'|page %}

            <div class="table-responsive"  id="siteTable">
            <table  class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><a href="" ng-click="sortField = 'id';              reverse = !reverse" >#</a></th>
                        <th><a href="" ng-click="sortField = 'name';            reverse = !reverse" >Site Name</a></th>
                        <th><a href="" ng-click="sortField = 'owner';           reverse = !reverse" >Building Owner</a></th>
                        <th><a href="" ng-click="sortField = 'project_type';    reverse = !reverse" >Project Type</a></th>
                        <th><a href="" ng-click="sortField = 'locations.name';  reverse = !reverse" >Location</a></th>
                        <th><a href="" ng-click="sortField = 'address';         reverse = !reverse" >Address</a></th>
                        <th><a href="" ng-click="sortField = 'photo';           reverse = !reverse" >Photo</a></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="st in site.sites | filter:search | orderBy:sortField:reverse">
                        <td>{{ '{{ st.id }}' }}</td>
                        <td>{{ '{{ st.name }}' }}</td>
                        <td>{{ '{{ st.owner }}' }}</td>
                        <td>{{ '{{ st.project_type }}' }}</td>
                        <td>{{ '{{ st.locations.name }}' }}</td>
                        <td>{{ '{{ st.address }}' }}</td>
                        <td>{{ '{{ st.photo }}' }}</td>
                        <td><a href="http://localhost:8080/massada/administration/site/update/{{ '{{ st.id }}'  }}">Update</a> | 
                            <a href="" ng-click="onDelete({{ 'st.id' }})">Delete</a></td>
                    </tr>
                </tbody>
            </table>
            </div>
            <hr/>
            
            {% partial 'tools/list' label='Add New Operator' addLinks='administration-operator-insert'|page %}
        
        </div>
    </div>