==
<div class="form-inline">
    <div class="form-group">
        <a type="button" class="btn btn-default" href="{{ link }}" >
            <span class="fa fa-undo"></span>
            Back
        </a>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="clear()">
            <span class="fa fa-eraser"></span>
            Clear
        </button>
    </div>
    
    <div class="form-group">
        <button type="button" ng-click="validate()" class="btn btn-default"> 
            <span class="fa fa-save"></span>
            Validate
        </button>
    </div>
    
    <!-- Submit -->
    <div class="form-group">
        <button type="submit" name="submit" ng-disabled="{{ base }}.$invalid" class="btn btn-primary"> 
            <span class="fa fa-save"></span>
            Save
        </button>
    </div>
    
</div>
<hr/>