.nopadding {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.message-status-success {
	color: #3c763d;
}

.message-status-warning {
	color: #8a6d3b;
}

.message-status-error {
	color: #a94442;
}