description = "Sidebar in right for every module"
==
<div class="col-sm-3 col-md-2 nopadding">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="{{ 'administration'|page }}">Overview</a></li>
            <li><a href="{{ 'administration-sites'|page }}">Sites</a></li>
            <li><a href="{{ 'administration-operators'|page }}">Operators</a></li>
            <li><a href="{{ 'users'|page }}">Contact Person</a></li>
        </ul>
      </div>
    </div>
</div>