==
<style>
    .left-sidebar {
        background-color: #222;
        margin-bottom: -99999px;
        padding-bottom: 99999px;
        background-color:#ffc;
    }
    .left-sideba-wrap {
        overflow: hidden; 
    }
    
</style>

<div class="col-sm-3 col-md-2 nopadding">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ 'administration'|page }}">Overview</a></li>
        <li><a href="{{ 'administration-sites'|page }}">Sites</a></li>
        <li><a href="{{ 'administration-operators'|page }}">Operators</a></li>
        <li><a href="{{ 'users'|page }}">Contact Person</a></li>
    </ul>
</div>