==
<div class="col-sm-3 col-md-2 nopadding">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ 'administration'|page }}">Overview</a></li>
        <li><a href="{{ 'administration-sites'|page }}">Departments</a></li>
        <li><a href="{{ 'administration-operators'|page }}">Jobs</a></li>
        <li><a href="{{ 'users'|page }}">Employees</a></li>
        <li><a href="{{ 'users'|page }}">Privilege</a></li>
        <li><a href="{{ 'users'|page }}">Administrators</a></li>
        <li><a href="{{ 'users'|page }}">Report</a></li>
    </ul>
</div>