==
<div class="col-sm-3 col-md-2 nopadding">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ 'administration'|page }}">Overview</a></li>
        <li><a href="{{ 'administration-sites'|page }}">Contracts</a></li>
        <li><a href="{{ 'administration-sites'|page }}">Massada - Building</a></li>
        <li><a href="{{ 'administration-sites'|page }}">Massada - Operator</a></li>
        <li><a href="{{ 'administration-sites'|page }}">Repositories</a></li>
        <li><a href="{{ 'administration-operators'|page }}">Report</a></li>
    </ul>
</div>