==
<div class="col-sm-3 col-md-2 nopadding">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ 'administration'|page }}">Overview</a></li>
        <li><a href="{{ 'administration-sites'|page }}">Equipments</a></li>
        <li><a href="{{ 'administration-operators'|page }}">DAS Configuration</a></li>
        <li><a href="{{ 'administration-operators'|page }}">Site Technical</a></li>
        <li><a href="{{ 'administration-operators'|page }}">Implementation</a></li>
        <li><a href="{{ 'administration-operators'|page }}">Maintenance</a></li>
        <li><a href="{{ 'administration-operators'|page }}">Documentation</a></li>
        <li><a href="{{ 'users'|page }}">Report</a></li>
    </ul>
</div>